.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

}

.left-nav > ul,
.right-nav > ul {
 display: flex;
 align-items: center;
}

.left-nav {

  > ul {

    > li {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: medium;
      text-transform: uppercase;
    
    }
  }

  span {

  }
}

.right-nav  {

  > ul {
 
    > li {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: medium;
      text-transform: uppercase;
      margin-left: 5px;
			cursor: pointer;
    }

    > li:last-of-type {
      position: relative;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color:$lightest-gray;
}

